/* @import url('https://cdn.syncfusion.com/ej2/material.css'); */

/* .e-grid {
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
} */

@import url('https://cdn.syncfusion.com/ej2/bootstrap5.css');

#wrapper {
  padding: 2%;
  margin: 0 auto;
}
